#banniere {
	margin-bottom: 0;
}

#header-page h1 {
	color: #E42A30;
	font-family:  Arvo;
	font-size: 42px;
}

#header-page h2 {
	color: #2FBCCC;
	font-family:  Arvo;
	font-weight: bold;
	font-size: 30px;
	width: 400px;
}

#contenu-page {
	padding: 20px 0 0 0;
	font-size: 12px;
  	line-height: 1.2;
}

.big-letter {
	float: left;
	font-size: 100px;
	line-height: 78px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
	padding-bottom: 4px;
	font-family: Arvo;
	display: inline;
	font-weight: bold;
}

.borders p {
	margin: 10px 0;
}

.borders:before, .borders:after {
  content:"";
  background: #3E3B46;
  position: absolute;
   left: 520px;
  width: 150px;
  height: 2px;
}

.blocEquipier {
	display: inline-block;
	margin:20px 5px;
	vertical-align: top;
}

.blocEquipier .photoEquipier {
	position: relative;
	height:296px;
	width:299px;
}

.blocEquipier .photoEquipier img {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.blocEquipier .msgEquipier {
	display:none;
	position: absolute;
	color: white;
	font-family: Arvo;
	top: 40%;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	font-size: 20px;
	font-weight: bold;
	pointer-events: none;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.blocEquipier .InfosEquipier {
	margin-top: 10px;
}

.blocEquipier .nomEquipier {
	color: #e42a32;
	font-weight: bold;
	font-size: 14px;
}

.blocEquipier .nomEquipier {
	color: #e42a32;
	font-weight: bold;
}

.puce-rouge {
	padding-left: 0;
	list-style-type: none;
}

.puce-rouge li::before {
	display: inline-block;
	content: " ";
	width: 12px;
	height: 9px;
	background-image: url(../images/puce.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.bigspace {
	display: block;
	clear: both;
	height: 100px;
}

.mapImage {
	float:right;
	margin-left:30px;
	width: 705px;
	text-align: center;
	position: relative;
	height: 725px;
}

.labelProduit {
	font-size: 22px;
	font-family: Arvo;
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
	vertical-align: middle;
	padding: 5px 0;
	background-image: url('../images/fondLabelProduit_g.jpg'), url('../images/fondLabelProduit.jpg'), url('../images/fondLabelProduit_d.jpg');
	background-repeat: no-repeat;
	  background-position: left center, center center, right center;
	  background-size: 10% 100%, 80% 100%, 10% 100%;
	margin-top: 20px;
	width: 600px;
	display: none;
	position: absolute;
	bottom: 50px;
	left: 0;

}

.labelProduit .numeroProduit {
	display: inline-block;
	color: white;
	background-color:#30BCCD;
	border-radius: 50%;
	border: 3px solid white;
	padding: 5px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 25px;
	box-shadow: 3px 3px 2px rgba(0,0,0,0.2);
	margin-right: 5px;
}

.labelProduit .numeroProduit.rouge {
	background-color: #E42932;
}

.labelProduit .numeroProduit.orange {
	background-color: #E87121;
}

area:hover {
	cursor: pointer; cursor: hand;
}

.fleche-grise {
	background-image: url('../images/flecheGrise.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	font-family: Arvo;
	color: white;
	padding: 15px 42px 15px 5px;
	font-size: 16px;
	font-weight: bold;
	width: 200px;
	margin-top: 200px;
}