#banniere {
	margin-bottom: 0;
}

#header-page h1 {
	color: #E42A30;
	font-family:  Arvo;
	font-size: 42px;
}

#header-page h2 {
	color: #2FBCCC;
	font-family:  Arvo;
	font-weight: bold;
	font-size: 30px;
}

#contenu-page {
	padding: 20px 0;
}

.big-letter { 
	float: left; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: Arvo;
	display: inline; 
	font-weight: bold;
	}

.borders p {
	margin: 10px 0;
}

.borders:before, .borders:after {
  content:""; 
  background: #3E3B46; 
  position: absolute; 
   left: 520px; 
  width: 150px; 
  height: 2px;
}